{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

<h2>Заявки</h2>
        <table>
        <tr>
            <th>Заявка</th>
            <th>Заказчик</th>
            <th>Весы</th>
            <th>Номер</th>
            <th>Описание</th>
            <th>Выполненная работа</th>
            <th>Дата</th>
        </tr>
        {% for c in jobapplication %}
        <tr>
             <td>{{ c.number }}</td>
             <td>{{ c.customer }}</td>
             <td>{{ c.scale_model }}</td>
             <td>{{ c.serial_number }}</td>
             <td>{{ c.defect }}</td>
             <td>{{ c.service_work }}</td>
             <td>{{ c.time_create }}</td>
        </tr>
        {% endfor %}
        </table>


{% endblock content %}