{% load static %}

<!-- Sidebar -->
    <div id="sidebar">
        <div class="inner">

            <!-- Search -->
                <section id="search" class="alt">
                    <form method="post" action="#">
                        <input type="text" name="query" id="query" placeholder="Search" />
                    </form>
                </section>

            <!-- Menu -->
                <nav id="menu">
                    <header class="major">
                        <h2>Меню</h2>
                    </header>
                    <ul>
                        <li><a href="{% url 'index' %}">Главная</a></li>
                        <li><a href="{% url 'jobs' %}">Заявки</a></li>
                        <li><a href="{% url 'scales' %}">Весы</a></li>
                        <li><a href="{% url 'spare' %}">ЗИП</a></li>
                        <li><a href="{% url 'receiving' %}">Поступления</a></li>
                        <li><a href="{% url 'installation' %}">Установки</a></li>
                        <!--<li>
                            <span class="opener">Another Submenu</span>
                            <ul>
                                <li><a href="#">Lorem Dolor</a></li>
                                <li><a href="#">Ipsum Adipiscing</a></li>
                            </ul>
                        </li>-->
                    </ul>
                </nav>

            <!-- Section -->
                <!--<section>
                    <header class="major">
                        <h2>Ante interdum</h2>
                    </header>
                    <div class="mini-posts">
                        <article>
                            <a href="#" class="image"><img src="{% static 'mainapp/images/pic07.jpg' %}" alt="" /></a>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="{% static 'mainapp/images/pic08.jpg' %}" alt="" /></a>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                        </article>
                        <article>
                            <a href="#" class="image"><img src="{% static 'mainapp/images/pic09.jpg' %}" alt="" /></a>
                            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                        </article>
                    </div>
                    <ul class="actions">
                        <li><a href="#" class="button">More</a></li>
                    </ul>
                </section>
                -->
            <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Наши контакты</h2>
                    </header>
                    <p></p>
                    <ul class="contact">
                        <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                        <li class="icon solid fa-phone">(000) 000-0000</li>
                        <li class="icon solid fa-home">Краснодарский край<br />
                         г. Новороссийск</li>
                    </ul>
                </section>

            <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; All rights reserved. 2023</p>
                </footer>

        </div>
    </div>
