{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}

    <h2>ЗИП Bizerba</h2>

    <table>
        <tr>
            <th>Название</th>
            <th>Артикул</th>
            <th>Количество</th>
            <th>Использование</th>
        </tr>
        {% for c in sparepart %}
        <tr>
            <td>{{c.title}}</td>
            <td>{{c.vendor_code}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.scale_id}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}